/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"); */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");/ */
    /* font-family: "Lora", serif; */
    text-decoration: none;
    font-family: "EB Garamond", serif;
    /* background-color: #f2f2f2; */
    
    

}




.navbar {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    color: rgb(23, 14, 39);
    border: 1px solid black;
    padding: 1rem;
    border: 1px ;
      z-index: 10000;
      position: sticky;
      top: 0;
      background-color: #F2F2F2;
    }

  .logo {
    font-size: 1.7rem;
    padding-left: 40px;
    font-weight: bold;
    font-family: "Dancing Script", serif;
  }

  .nav-links {
    list-style: none;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    width: 40%;
  }

  .nav-links li {
    margin-right: 10px;
  }

  .nav-links a {
    color: rgb(23, 14, 39);
    text-decoration: none;
    transition: color 0.2s ease;
  }

  .nav-links a:hover {
    color: #ccc;
  }

 

  .burger {
    display: none;
    

  }


.nav-links a:hover {
    color: #ccc;
    transform: scale(1.1);
}

.info button{
    margin-top: 60px;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(93, 65, 221);
    transition: background-color 0.2s ease;
}

.info button:hover{
    background-color: #2ebf91;
}







  @media (max-width: 788px) {

    .navbar{
      width: 100%;
    }
    .nav-links {
       display: none; 
       width: 100%;

       /* background-color: #2ebf91; */

      position: absolute;
      top: 60px;
      left: 0px;
      right: 0px;
      padding-top: 8px;
      padding-bottom: 8px;
      /* flex-direction: column; */
      /* text-align: center; */
      background-color: #F2F2F2;
      /* gap: 0px; */
      z-index: 1;


    }
    nav li{
      /* padding: 10px 0px 10px 15px; */
      padding-left: 10px;
      /* background-color: rgb(207, 32, 32); */
  }
  


    .burger {
      display: block;
      cursor: pointer;
    }

    .line1, .line2, .line3 {
      width: 30px;
      height: 3px;
      background-color: rgb(23, 14, 39);
      margin: 5px;
    }
    .sec-5 .pro{
      margin-top: 40px;
    }
    .sec-6.contact-logo {
      /* font-size: small; */
      /* display: inline; */
      display: flex;
    }



  }


  
.sec-1{
    /* background-color: aqua; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 100px;

}
.sec-1 a{
  color: black;
}
.main-img{
  
    /* width: 100%; */

    height: 100%;
    border-radius: 100% 0% 100% 0%;
    /* /* border: 1px solid black; */
    /* border: 1px solid black; */
/*  */
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
}

.main-img img{

    /* width: 250px; */
    height: 290px;
}
 .icons{
    display: flex;
    /* gap: 60px; */
    /* padding: 20px; */
    flex-direction: column;
    gap: 20px;
} 

/* @media (min-width: 788px){

  .sec-1 .icons{
    margin-bottom: 200px;
  }

} */


@media (max-width: 375px){
  .sec-1 .icons{
    flex-direction: row;
    padding-bottom: 40px;
    /* margin-bottom: 200px; */
    /* padding-bottom: 100px; */
  }


}


.info{
    text-align: center;
    /* padding: 20px; */
    
}

.info h3{
    padding-bottom: 10px;
    font-family: "EB Garamond", serif;
    opacity: .8;

}
.info p{
    padding-top:10px ;
    opacity: .7;
    font-family: "Caveat", serif;

    font-size: 1.4rem;
}

.info button{
    margin-top: 60px;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    
    background-color: #8360c3;

}
.info h1{
    font-family: "Caveat", serif;
    font-size: 2.5rem;
    /* opacity: .8; */
    padding-top: 30px;

}

.sec-2{
  /* margin-top: 60px; */
  /* margin-bottom: 60px; */
  padding-bottom: 120px;
}

.sec-2 .about-me{
margin-bottom: -34px;

  text-align: center;
}



.sec-2 h1{
  font-family: "EB Garamond", serif;
  font-size: 2.5rem;
  opacity: 0.9;
  /* text-align: center; */
}

.sec-2 h3{
  font-family: "EB Garamond", serif;
  opacity: 0.7;
  
}

.abut-disc{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 100px;
}
.about-img img{
  /* width: 250px; */
  height: 297px;


}
.numbers{
  display: flex;
  padding: 20px;
  padding-top: 40px;
  gap: 40px;
  text-align: center;

}
.numbers h1{
  font-size: 1.6rem;
}
.disc{
  /* text-align: center; */
  padding: 30px;
}
.disc p{
  text-align: center;
  font-family: "EB Garamond", serif;
  
}

.btn button{
  
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: auto; */
  margin-left: 30px;
  margin-top: 10px;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
background-color: #8360c3;
}
.btn button:hover{
  background-color: #2ebf91;
  transition: background-color 0.2s ease;
}


.sec-3 .Skill{


  text-align: center;
}

.sec-3 .Skill h1{
  font-family: "EB Garamond", serif;
  font-size: 2.5rem;
  opacity: 0.9;

}
.sec-3 .Skill h3{
  font-family: "EB Garamond", serif;
  opacity: 0.7;
  

}

.skill-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 80px;
}
.skill-container p{
  text-align: center;
  font-family: "EB Garamond", serif;
  opacity: 0.7;


}

.skills {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* left: 30%; */
  /* transform: translate(-50%, -50%); */
  background: #f2f2f2;
  border-radius: 10px;
  /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); */
}
.skills2 {
  /* position: absolute; */
  /* /* top: 50%; */
  /* left: 50%;  */
  /* left: 30%; */
  /* transform: translate(-50%, -50%); */
  background: #f2f2f2;
  border-radius: 10px;
  height: auto;
  /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); */
}

.skills h1{
  text-align: center;
  align-items: center;
  padding-top: 30px;
  font-family: "EB Garamond", serif;
}
.skills2 h1{
  text-align: center;
  align-items: center;
  padding-top: 30px;
  font-family: "EB Garamond", serif;
}
#db{
  margin-top: -28px;
}

.skills-bar {
  padding: 25px ;
}

.skills-bar .bar {
  margin: 25px 0;
}

.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 500;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
  text-align: left;
  color: #07374a;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 400px;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  position: absolute;
  background: #8360c3;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  /* text-transfrom : uppercase; */
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
    
  }
}

.progress-line .html {
  width: 80%;
  
}
.progress-line .css {
  width: 70%;
}
.progress-line .bootstrap {
  width: 82%;
}
.progress-line .javascript {
  width: 62%;
}
.progress-line .react {
  width: 60%;
}
.progress-line .c{
  width: 55%;
}
.progress-line .python{
  width: 65%;
}
.progress-line .django{
  width: 60%;
}
.progress-line .postresql{
  width: 75%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -14px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #07374a;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: 700;
  background: #07374a;
  padding: 1px 8px;
  border-radius: 3px;
}


.progress-line .html::after {
  content: "80%";
}
.progress-line .css::after {
  content: "70%";
}
.progress-line .bootstrap::after {
  content: "82%";
}
.progress-line .javascript::after {
  content: "62%";
}
.progress-line .react::after {
  content: "60%";
}
.progress-line .c::after{
  content: "55%";

}
.progress-line .python::after{
  content: "65%";

}
.progress-line .django::after{
  content: "60%";

}
.progress-line .postresql::after{
  content: "75%";

}



@media (max-width: 700px) {
    .skills{
        width: 80%;
    }
    .skills2{
        width: 80%;
        border-radius: none;
    }

    .skills-bar .bar .progress-line{
        width: 100%;
    }
}      


.sec-4{
  margin-top: 80px;
}
.sec-4 h3{
  font-family: "EB Garamond", serif;
  font-size: 1.2rem;
  opacity: 0.7;

}
.sec-4 .heading{
  text-align: center;
  font-family: "EB Garamond", serif;
  font-size: 1.5rem;
  opacity: 0.9;

}

.service{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 60px;


}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style the card */
.card {
  /* position: relative; */
  width: 320px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  /* height: 300px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the card title */
.card-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

/* Style the card content */
.card-content {
  font-size: 14px;
  margin-bottom: 20px;
  opacity: 0.7;
}

/* Style the card button */
.card-button {
  background-color: #8360c3;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.card-button:hover{
  background-color: #2ebf91;
  color: #f2f2f2;
  transition: background-color 0.5s ease-in-out;
}

/* Style the card details container */
.card-details {
  display: flex;
  /* position: absolute; */
  /* margin-left: -30px; */
  /* top: 50%;
  left: 50%; */
  width: 280px;
  /* height: 200px; */
  
  z-index: 1000;
  display: none;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the card details content */
.card-details p {
  font-size: 14px;
  margin-bottom: 10px;
}
.cards .card-details ul li{
  padding: 8px;
  margin-left: 5px;

}
.cards .card-details ul{
  margin-left: 5px;
}



.sec-5 .portfolio-heading{

  margin-top: 60px;
  text-align: center;
}
.sec-5 .portfolio-heading h3{
  font-family: "EB Garamond", serif;
  font-size: 1.2rem;
  opacity: 0.7;

}
.sec-5 .portfolio-heading h1{
  font-family: "EB Garamond", serif;
  font-size: 2.5rem;
  opacity: 0.9;

}
.wrapper {
	display: flex;

	/* justify-content: space-around; */
  justify-content: space-evenly;
  flex-wrap: wrap;
	/* width: 70%; */
  margin-top: 60px;
}

.pro {
	position: relative;
	width: 280px;
	height: 370px;
  border-radius: 10px;

	display: flex;
	align-items: flex-end;

	padding: 2rem 1rem;
	background-color: #fff;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
	transition: 0.5s ease-in-out;
}

.pro:hover {
	transform: translateY(20px);
}

.pro::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
	z-index: 2;
	transition: 0.5s all;
	opacity: 0;
}

.pro:hover::before {
	opacity: .5;
}

.pro img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  border-radius: 10px;
	object-fit: cover;
}

.pro .overlay {
	position: relative;
	z-index: 3;
	color: #000000;
	opacity: 0;
	transform: translateY(30px);
	transition: 0.5s all;
	padding: 30px 0px;
}

.pro:hover .overlay {
	opacity: 1;
	transform: translateY(30px);
}



.text-h1 {
	margin: 0;
}

.text-p {
	letter-spacing: 1px;
	margin-top: 8px;
	margin-bottom: 10px;
}

.link-a {
	padding: 0.5rem 1rem;
	background-color: #8360c3;
  border-radius: 10px;
	color: #000;
	cursor: pointer;
	transition: .4s ease-in-out;
  /* padding-top: 10px; */
  margin-top: 10px;
}

.link-a:hover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}


.sec-6 .contact1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 60px;
}

.sec-6 .contact{
  margin-top: 60px;
  text-align: center;

}
.sec-6 .contact h1{
  font-family: "EB Garamond", serif;
  font-size: 2.5rem;
  opacity: 0.9;

}
.sec-6 .contact h3{

  font-family: "EB Garamond", serif;
  font-size: 1.2rem;
  opacity: 0.7;

}
.sec-6 .contact-logo{
  /* background-color: #4CAF50; */
  width: 400px;
  align-items: center;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.sec-6 .phone{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;

}
.sec-6 .phone .logo{
  /* width: 40px; */
  opacity: 0.7;

}
.sec-6 .phone .detail h3{
  font-family: "EB Garamond", serif;
  opacity: 0.9;

}
.sec-6 .phone .detail p{
  font-family: "EB Garamond", serif;
  opacity: 0.6;

}
.contact-me {
  font-family: "EB Garamond", serif;
  width: 500px;
  /* margin: 40px auto; */
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  /* background-color: #8360c3; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-me label{
  font-family: "EB Garamond", serif;
  
}

.contact-me h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  height: 100px;
  resize: vertical;
}

button[type="submit"] {
  background-color: #8360c3;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #2ebf91;
  color: #f2f2f2;
  transition: background-color 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .contact-me {
    margin: 20px auto;
    width: 300px;
  }
}

@media (max-width: 480px) {
  .contact-me {
    margin: 10px auto;
    padding: 10px;
    
  }
  .contact-logo {
    width: 700px;
  }
}

.sec-7 .education{
text-align: center;
margin-top: 80px;

}
.sec-7 .education h1{
  font-family: "EB Garamond", serif;
  font-size: 2.5rem;
  opacity: 0.9;

}

.sec-7 .education h3{
  font-family: "EB Garamond", serif;
  font-size: 1.2rem;
  opacity: 0.7;
}
.timeline{
  margin-top: 40px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  padding: 0 9%;

}
.timeline .timeline-row{
  display: flex;
  column-gap: 64px;
  flex-wrap: wrap;

}
.timeline-row .timeline-column{
  flex: 1 1 320px;

}
.timeline-row .timeline-column h2{
  opacity: 0.9;
}


.timeline-column .title{
  font-size: 28px;
  margin: 32px 0 16px 30px;


}

.timeline-column .timeline-box{
  border-left: 2px solid #8360c3;

}
.timeline-box .timeline-content{
  position: relative;
  padding-left: 27px;


}

.timeline-box .timeline-content::before{
  content: '';
  position: absolute;
  top: 0;
  left: -10.5px;
  width: 20px;
  height: 20px;
  background: #8360c3;
  border-radius: 50%;

}
.timeline-content .content{
  padding: 24px;
  border: 2px solid #8360c3;
  border-radius: 8px;
  margin-bottom: 32px;
}
.timeline-content .content .year{
  font-size: 16px;
  color: #8360c3;
   

}
.timeline-content .content .year i{
  margin-right: 8px;
  opacity: 0.9;
}
.timeline-content .content h3{
  font-size: 19px;
  margin: 8px 0px;
  opacity: 0.9;
}

.timeline-content .content p{
  opacity: 0.7;

  font-size: 16px;
}

.footer{
  display: flex;
  flex-wrap: wrap;
  background-color: #8360c3;
  width: 100%;
  height: 200px;
  padding-top: 80px;
  margin-top: 50px;
  justify-content: space-evenly;
}
.footer .head h2{
  color: white;
  font-size: 1.7rem;
  /* padding-left: 40px; */
  font-weight: bold;
  font-family: "Dancing Script", serif;
}

.footer .head p{
  color: white;

}
.footer .cc ul
{
  font-size: 1.2rem;
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 50px;
  color: white;
}
.footer .cc ul li{
  color: white;
}
.footer .icons1
{
  display: flex;
  font-size: 1.2rem;
  /* justify-content: space-evenly; */
  gap: 50px;
  color: white;
}
.footer .icons1 i{
  color: white;
}

@media (max-width: 768px){
  .footer{
    padding-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 50px; */
    /* padding: 50px; */
    /* flex: 1 1 320px; */
    gap: 30px;
    /* padding-bottom: 30px; */
    height: 250px;

  }
}




